@import '../styles/variables/Variables.scss';

@mixin flexEnd($v: flex-end, $h: center) {
    display: flex;
    align-items: $v;
    justify-content: $h;
}
@keyframes breath {
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
        transform: scale(120%);
    }
    100%{
        opacity: 0.2;
    }
}

@keyframes openAnime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.workExperience{
    margin-top: 1rem;
    padding: 1rem;
    border-top: 2px solid $textColor1;
    border-bottom: 2px solid $textColor1;
    // background-image: url('../images/bg_img_3_2.png');
    // background-size: cover;
}
.header{
    font-size: 24px;
    cursor: pointer;
    color: $textColor1;
    width: 100%;
    @include flexEnd($v: center, $h: space-between);
    gap: 1rem;
    transition: all .3s;
    span{
        cursor: pointer;
    }
}
// .header:hover{
//     color: white;
// }
.companies{
    margin-top: 1rem;
    width: auto;
    // @include flexEnd($v: flex-start, $h: space-between);
    // gap: 1rem;
    // flex-wrap: wrap;
    transition: all .3s;
}
.company{
    // border: 2px solid $gGreen;
    animation: openAnime .3s;
    width: 48.9%;
    @include flexEnd($v: flex-start, $h: flex-start);
    flex-wrap: wrap;
    background-color: $secondaryColor;
    border-radius: 5px;
    flex-direction: column;
    padding: 1rem;
    transition: all .3s;
    position: relative;
    ul{
        @include flexEnd($v: flex-start, $h: flex-start);
        flex-direction: column;
        padding-left: 1rem;
    }
    .websiteUrl{
        // border: 2px solid $textColor1;
        background-color: $primaryColor;
        border-radius: 50%;
        position: absolute;
        top: .7rem;
        right: .7rem;
        a{
            @include flexEnd($v: center, $h: center);
            padding: .5rem;
            text-decoration: none;
            color: $textColor3;
            .icon{
                width: 24px;
                height: 24px;
            }
        }
    }
}
.companyName{
    @include flexEnd($v: center, $h: center);
    background-color: $textColor1;
    border-radius: 5px;

    // width: 100%;

    a{
        text-decoration: none;
        color: $textColor1;
    }
    span{
        @include flexEnd($v: center, $h: flex-start);
        gap: 1rem;
        font-size: 24px;
        font-weight: 500;
        color: $textColor1;
        .icon{
            @include flexEnd($v: center, $h: center);
            width: 24px;
            height: 24px;
        }
    }
    div{
        @include flexEnd($v: center, $h: flex-start);
        gap: .5rem;
        font-size: 14px;
        font-weight: 300;
        color: $textColor1;
        a{
            @include flexEnd($v: flex-start, $h: flex-start);
            gap: .3rem;
            line-height: 1rem;
            .locicon{
                width: 12px;
                height: 12px;
                color: $textColor3;
                animation: breath 2.5s infinite;
            }
        }
    }
}
.companyLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $textColor1;
    // margin-bottom: 1rem;
    padding: 10px;
    width: auto;
    border-radius: 10px;
    img{
        // background-color: $secondaryColor;
        // width: 50px;
        height: 50px;
        width: fit-content;
    }
}
// .nameAndLinkedinHead{
//     @include flexEnd($v: flex-start, $h: flex-start);
//     flex-direction: column;
// }

.jobTitleFromTo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}
.LogoAndName{
    // @include flexEnd($v: center, $h: center);
    font-weight: 300;
    // line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.fromAndTo{
    // margin-bottom: .5rem;
    @include flexEnd($v: center, $h: center);
    gap: .5rem;
    // color: $gYellow;
    font-size: 14px;
    background-color: $primaryColor;
    padding: .3rem 1rem;
    border-radius: 5px;
}
.jobTitle{
    @include flexEnd($v: center, $h: center);
    background-color: $primaryColor;
    // margin-bottom: .5rem;
    padding: .3rem 1rem;
    border-radius: 5px;
    color: $textColor1;
    font-size: 16px;
    font-weight: 300;
}
.description{
    margin-top: 1rem;
    color: $textColor1;
    span{
        font-size: 16px;
        font-weight: 400;
    }
    ul{
        font-size: 14px;
        font-weight: 300;
        list-style-type:circle;
    }
}
.breath{
    width: 20px;
    height: 20px;
    color: $textColor1;
    // animation: breath 2.5s infinite;
}
@media screen and (max-width: 768px) {
    .hide{
        display: none;
    }
    .company{
        width: 100%;
    }
    .scrollButton{
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 425px) {
    .hide{
        display: none;
    }
    .company{
        width: 100%;
    }
}